$primary-text-color: #2ECC40;
$primary-font-stack: Consolas, monaco, monospace;
$primary-font-size: 1em;
$bg-color: black;
$cursor-color: #2ECC40;

.left {
  float: left;
}

.right {
  float: right;
}
